body {
    display: grid;
    grid-template-areas: "header" "main";
    grid-template-rows: 130px auto;
}

.header {
    grid-area: header;
    position: relative;
}
.main{
    grid-area: main;
    padding: 1rem 10rem;
}